<!DOCTYPE html>
<html class="not-ie no-js" lang="en">
  {% include new_head.html %}
<body>

  <div class="site-wrapper">
    {% include new_header.html %}

    <!-- Main -->
    <div class="main" role="main">

      <!-- Slider -->
      <section class="slider-holder">
        <div class="container">
          <div class="flexslider carousel">
            <ul class="slides">
              <li>
                <img src="http://placehold.it/1122x480" alt="" />
              </li>
              <li>
                <img src="http://placehold.it/1122x480" alt="" />
              </li>
              <li>
                <img src="http://placehold.it/1122x480" alt="" />
              </li>
            </ul>

            <div class="search-box visible-md visible-lg">
              <h2>{{ page.date | date_to_long_string }}</h2>
              <form action="#" method="POST" role="form">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Practice Area">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Location">
                </div>
                <div class="form-group">
                  <div class="select-style">
                    <select class="form-control">
                      <option>Criminal Defense</option>
                      <option>Business Law</option>
                      <option>Family Law</option>
                      <option>Medical Malpractice Law</option>
                    </select>
                  </div>
                </div>
                <button type="submit" class="btn btn-success">Search</button>
              </form>
            </div>
          </div>
        </div>
      </section>
      <!-- Slider / End -->

      <!-- Page Content -->
      <section class="page-content">
        <div class="container">

          <!-- Light Section -->
          <section class="section-light section-nomargin">
            <div class="row">
              <div class="col-md-8">
                <h2 class="with-subtitle" data-animation="fadeInUp" data-animation-delay="0">Latest Listings <small data-animation="fadeInUp" data-animation-delay="100">Subtitle goes here</small></h2>
                <div class="row">
                  <div class="col-xs-6 col-sm-3 col-md-3" data-animation="fadeInLeft" data-animation-delay="0">
                    <div class="job-listing-box">
                      <figure class="job-listing-img">
                        <a href="job-profile.html"><img src="http://placehold.it/160x160" alt=""></a>
                      </figure>
                      <div class="job-listing-body">
                        <h4 class="name"><a href="job-profile.html">Samantha Doe</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                      </div>
                      <footer class="job-listing-footer">
                        <ul class="meta">
                          <li class="category">Cat Sitter</li>
                          <li class="location"><a href="#">Orlando, FL</a></li>
                          <li class="date">Posted 1 day ago</li>
                        </ul>
                      </footer>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-3 col-md-3" data-animation="fadeInLeft" data-animation-delay="200">
                    <div class="job-listing-box">
                      <figure class="job-listing-img">
                        <a href="job-profile.html"><img src="http://placehold.it/160x160" alt=""></a>
                      </figure>
                      <div class="job-listing-body">
                        <h4 class="name"><a href="job-profile.html">Molly Warren</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                      </div>
                      <footer class="job-listing-footer">
                        <ul class="meta">
                          <li class="category">Dog Sitter</li>
                          <li class="location"><a href="#">Orlando, FL</a></li>
                          <li class="date">Posted 2 days ago</li>
                        </ul>
                      </footer>
                    </div>
                  </div>

                  <div class="clearfix visible-xs"></div>
                  <div class="spacer visible-xs"></div>

                  <div class="col-xs-6 col-sm-3 col-md-3" data-animation="fadeInLeft" data-animation-delay="400">
                    <div class="job-listing-box">
                      <figure class="job-listing-img">
                        <a href="job-profile.html"><img src="http://placehold.it/160x160" alt=""></a>
                      </figure>
                      <div class="job-listing-body">
                        <h4 class="name"><a href="job-profile.html">Jeff Black</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                      </div>
                      <footer class="job-listing-footer">
                        <ul class="meta">
                          <li class="category">Pet Sitter</li>
                          <li class="location"><a href="#">Orlando, FL</a></li>
                          <li class="date">Posted 3 days ago</li>
                        </ul>
                      </footer>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-3 col-md-3" data-animation="fadeInLeft" data-animation-delay="600">
                    <div class="job-listing-box">
                      <figure class="job-listing-img">
                        <a href="job-profile.html"><img src="http://placehold.it/160x160" alt=""></a>
                      </figure>
                      <div class="job-listing-body">
                        <h4 class="name"><a href="job-profile.html">Susan Smith</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                      </div>
                      <footer class="job-listing-footer">
                        <ul class="meta">
                          <li class="category">Cat Sitter</li>
                          <li class="location"><a href="#">Orlando, FL</a></li>
                          <li class="date">Posted 5 days ago</li>
                        </ul>
                      </footer>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4" data-animation="fadeInRight" data-animation-delay="0">
                <div class="spacer-lg visible-sm visible-xs"></div>
                <h2>Featured Listings</h2>
                <!-- Featured Listings -->
                <div class="owl-carousel owl-theme owl-featured-listings">
                  <div class="job-listing-box featured">
                    <figure class="job-listing-img">
                      <a href="job-profile.html"><img src="http://placehold.it/708x671" alt=""></a>
                    </figure>
                    <div class="job-listing-holder">
                      <div class="job-listing-body">
                        <h4 class="name"><a href="job-profile.html">John Doe</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                      </div>
                      <footer class="job-listing-footer">
                        <ul class="meta">
                          <li class="category">Cat Sitter</li>
                          <li class="location"><a href="#">Orlando, FL</a></li>
                          <li class="date">Posted 5 days ago</li>
                        </ul>
                      </footer>
                    </div>
                  </div>
                  <div class="job-listing-box featured">
                    <figure class="job-listing-img">
                      <a href="job-profile.html"><img src="http://placehold.it/708x671" alt=""></a>
                    </figure>
                    <div class="job-listing-holder">
                      <div class="job-listing-body">
                        <h4 class="name"><a href="job-profile.html">John Doe</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                      </div>
                      <footer class="job-listing-footer">
                        <ul class="meta">
                          <li class="category">Cat Sitter</li>
                          <li class="location"><a href="#">Orlando, FL</a></li>
                          <li class="date">Posted 5 days ago</li>
                        </ul>
                      </footer>
                    </div>
                  </div>
                  <div class="job-listing-box featured">
                    <figure class="job-listing-img">
                      <a href="job-profile.html"><img src="http://placehold.it/708x671" alt=""></a>
                    </figure>
                    <div class="job-listing-holder">
                      <div class="job-listing-body">
                        <h4 class="name"><a href="job-profile.html">John Doe</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                      </div>
                      <footer class="job-listing-footer">
                        <ul class="meta">
                          <li class="category">Cat Sitter</li>
                          <li class="location"><a href="#">Orlando, FL</a></li>
                          <li class="date">Posted 5 days ago</li>
                        </ul>
                      </footer>
                    </div>
                  </div>
                </div>
                <!-- Featured Listings / End -->
            
              </div>
            </div>
          </section>
          <!-- Light Section / End -->

          <!-- Section -->
          <section class="section section-nomargin">
            <div class="row">
              <div class="col-md-6" data-animation="fadeInLeft" data-animation-delay="0">
                <div class="img-box">
                  <img src="{{ "/images/img1.png" | prepend: site.baseurl }}" alt="">
                </div>
              </div>
              <div class="col-md-6">
                <h2>For Pet Owners</h2>
                <div class="icon-box circled icon-box-animated" data-animation="fadeInLeft" data-animation-delay="0">
                  <div class="icon">
                    <i class="entypo search"></i>
                  </div>
                  <div class="icon-box-body">
                    <h4>Find Your Perfect Pet Sitter</h4>
                    Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.
                  </div>
                </div>

                <div class="icon-box circled icon-box-animated" data-animation="fadeInLeft" data-animation-delay="200">
                  <div class="icon">
                    <i class="entypo vcard"></i>
                  </div>
                  <div class="icon-box-body">
                    <h4>Contact Pet Sitter</h4>
                    Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.
                  </div>
                </div>

                <div class="icon-box circled icon-box-animated" data-animation="fadeInLeft" data-animation-delay="400">
                  <div class="icon">
                    <i class="entypo check"></i>
                  </div>
                  <div class="icon-box-body">
                    <h4>Hire with Confidence</h4>
                    <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.</p>
                  </div>
                </div>

                <a href="job-list.html" class="btn btn-primary">View All Pet Sitters <i class="fa fa-arrow-circle-o-right fa-lg fa-right"></i></a>

              </div>
            </div>

            <hr class="lg">

            <div class="row">
              <div class="col-md-6 col-md-push-6" data-animation="fadeInRight" data-animation-delay="0">
                <div class="img-box">
                  <img src="{{ "/images/img2.png" | prepend: site.baseurl }}" alt="">
                </div>
              </div>
              <div class="col-md-6 col-md-pull-6">
                <h2>For Pet Sitters</h2>
                <div class="icon-box circled icon-box-animated" data-animation="fadeInRight" data-animation-delay="0">
                  <div class="icon">
                    <i class="entypo pencil"></i>
                  </div>
                  <div class="icon-box-body">
                    <h4>Create a Free Profile</h4>
                    Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.
                  </div>
                </div>

                <div class="icon-box circled icon-box-animated" data-animation="fadeInRight" data-animation-delay="200">
                  <div class="icon">
                    <i class="entypo calendar"></i>
                  </div>
                  <div class="icon-box-body">
                    <h4>Set Your Schedule</h4>
                    Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.
                  </div>
                </div>

                <div class="icon-box circled icon-box-animated" data-animation="fadeInRight" data-animation-delay="400">
                  <div class="icon">
                    <i class="entypo star"></i>
                  </div>
                  <div class="icon-box-body">
                    <h4>Become a Star</h4>
                    <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.</p>
                  </div>
                </div>

                <a href="job-post-profile.html" class="btn btn-primary">Start Here <i class="fa fa-arrow-circle-o-right fa-lg fa-right"></i></a>

              </div>
            </div>

          </section>
          <!-- Section / End -->


          <!-- Light Section -->
          <section class="section-light section-nomargin">
            <div class="title-bordered" data-animation="fadeInUp" data-animation-delay="0">
              <h2>Why Choose Us <small>Main Features</small></h2>
            </div>
            <div class="row">
              <div class="col-md-3" data-animation="fadeInDown" data-animation-delay="0">
                <div class="icon-box filled centered lg circled icon-box-animated-inverse">
                  <div class="icon">
                    <i class="entypo chat"></i>
                  </div>
                  <div class="icon-box-body">
                    <h3>Care Advices</h3>
                    <p>Proin gravida nibh vel velit auctor aliquet. Aenean tempor auctor sollicit.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-3" data-animation="fadeInDown" data-animation-delay="200">
                <div class="icon-box filled centered lg circled icon-box-animated-inverse">
                  <div class="icon">
                    <i class="entypo heart"></i>
                  </div>
                  <div class="icon-box-body">
                    <h3>Easy to Use</h3>
                    <p>Proin gravida nibh vel velit auctor aliquet. Aenean tempor auctor sollicit.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-3" data-animation="fadeInDown" data-animation-delay="400">
                <div class="icon-box filled centered lg circled icon-box-animated-inverse">
                  <div class="icon">
                    <i class="entypo light-bulb"></i>
                  </div>
                  <div class="icon-box-body">
                    <h3>Our Tips</h3>
                    <p>Proin gravida nibh vel velit auctor aliquet. Aenean tempor auctor sollicit.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="icon-box filled centered lg circled icon-box-animated-inverse" data-animation="fadeInDown" data-animation-delay="600">
                  <div class="icon">
                    <i class="entypo thumbs-up"></i>
                  </div>
                  <div class="icon-box-body">
                    <h3>Lots of Choice</h3>
                    <p>Proin gravida nibh vel velit auctor aliquet. Aenean tempor auctor sollicit.</p>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- Light Section / End -->

          <!-- Section -->
          <section class="section section-nomargin">
            <div class="title-bordered" data-animation="fadeInUp" data-animation-delay="0">
              <h2>What Clients Say <small>Recent reviews</small></h2>
            </div>
            <div class="row">
              <div class="col-md-6" data-animation="fadeInLeft" data-animation-delay="0">
                <div class="testimonial">
                  <blockquote>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut laoreet mi. Integer vitae elit quis leo tincidunt euismod. Nullam blandit vestibulum lectus sed sollicitudin. </p>
                  </blockquote>
                  <div class="bq-author">
                    <figure class="author-img">
                      <img src="http://placehold.it/60x60" alt="">
                    </figure>
                    <h6>John Doe</h6>
                    <span class="bq-author-info">CEO, Compay Name</span>
                  </div>
                </div>
              </div>
              <div class="col-md-6" data-animation="fadeInRight" data-animation-delay="0">
                <div class="spacer-lg visible-sm visible-xs"></div>
                <div class="testimonial">
                  <blockquote>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut laoreet mi. Integer vitae elit quis leo tincidunt euismod. Nullam blandit vestibulum lectus sed sollicitudin. </p>
                  </blockquote>
                  <div class="bq-author">
                    <figure class="author-img">
                      <img src="http://placehold.it/60x60" alt="">
                    </figure>
                    <h6>Samantha White</h6>
                    <span class="bq-author-info">Manager, Compay Name</span>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- Section / End -->

        </div>
      </section>
      <!-- Page Content / End -->

      {% include new_footer.html %}
      
      
    </div>
    <!-- Main / End -->
  </div>
  
  
  
  
  
  <!-- Javascript Files
  ================================================== -->
  <script src="{{ "/js/jquery-1.11.0.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/js/jquery-migrate-1.2.1.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/js/bootstrap.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/js/jquery.flexnav.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/js/jquery.hoverIntent.minified.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/js/jquery.flickrfeed.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/js/jquery.fitvids.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/js/jquery.appear.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/js/jquery.stellar.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/js/jquery.isotope.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/js/jquery.isotope.sloppy-masonry.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/js/jquery.imagesloaded.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/js/jquery.magnific-popup.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/js/owl.carousel.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/js/jquery.flexslider-min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/js/custom.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/js/modernizr.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/js/modernizr.js" | prepend: site.baseurl }}"></script>



  <script>
    jQuery(function($){
      $('body').addClass('loading');
    });
    
    $(window).load(function(){
      $('.flexslider').flexslider({
        animation: "fade",
        controlNav: true,
        directionNav: false,
        prevText: "",
        nextText: "",
        start: function(slider){
          $('body').removeClass('loading');
        }
      });
    });
  </script>


  
</body>
</html>
