<!DOCTYPE html>
<html>

  {% include head.html %}

    <body id="single">
      
    {% include header.html %}

<div class="page-content">
<!-- Featured Thinking Banner -->    
<section class="header-10-sub v-center">
  <!-- insert featured image here -->
    <div class="background" style="background-image: url(../../../../images/blog/blog-welcome.jpg);"></div>
    <div>
        <div class="container">
        </div>
        <a class="control-btn fui-arrow-down" data-scroll href="#articlestart"> </a>
    </div>
</section>

<!-- Everything after this should be Editable as content -->
<section class="blog-1">
    <span class="no-print">
    <span class="breadcrumbs"><!-- Breadcrumbs: -->
       
          <a href="{{ site.baseurl }}/">home</a> <span class="breadcrumb-divider">&#187;</span>
         
            <a href="{{ "/thinking" | prepend: site.baseurl }}">Thinking</a>            
           <span class="breadcrumb-divider">&#187;</span>{{ page.title}}
      </span>
</span>
    <div class="title" id="articlestart">
        <div class="container">
            <h3>{{page.title}}</h3>
            <div class="submitted">{{page.author}}, {{page.post_date}} </div>
        </div>
    </div>
    <div class="container">
    
      <!-- thought piece intro -->
        <!-- <div class="textcontainer">
          <div class="textbox col-sm-8 col-sm-offset-2">
                <p class="lead">{{page.short_description}}</p> <p><a href="{{ site.baseurl}} /fellows/{{page.author}}/">{{page.author}}</a> {{page.description}}</p>               
            </div>
        </div> -->
        
        <div class="boxes">
            <div class="box-1">
            <!-- insert featured image here -->
            <img src="{{ page.image | prepend: site.baseurl}}">
            <p class="credit">
                Created by Jessica Duensing for opensource.com. (CC BY-SA 2.0)<br />
                Source: <a href="https://www.flickr.com/photos/opensourceway/6555466069">flickr.com/photos/opensourceway/6555466069</a>
            </p>
            </div>
        </div>

        
    <!-- to be enabled later -->
      <div class="tags title">
            Posted in , 
            {% for tag in page.tags %}
             <a href="{{site.baseurl}}/tag/{{ tag }}">{{ tag }}</a>
             {% endfor %}
        </div>
    </div>
</section>
</div>
<!-- Everything before this is editable page content -->

    {% include footer.html %}

    </body>
</html>

